.user {
    &-listing-page {
        .page-wrapper {
            .user-table {
                width: 100%;

                button {
                    margin-right: auto;
                    margin-left: 0;
                    height: 25px;
                }

                td {
                    padding: 5px 10px;
                    white-space: nowrap;
                }

                .user-actions {
                    display: flex;

                    button {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    &-view-page {
        .top-bar {
            display: flex;

            .edit-form {
                margin-left: auto;

                .start-editing {
                    display: block;
                }

                .stop-editing {
                    display: none;
                }

                &.form-being-edited {
                    .start-editing {
                        display: none;
                    }

                    .stop-editing {
                        display: block;
                    }
                }
            }
        }

        .form {
            button:not(.edit-form) {
                display: none;
            }

            &.account-form {
                .password-section,
                .new-password {
                    display: none;
                }

                .new-password-toggler {
                    display: flex;
                    margin-top: 10px;

                    label{
                        width: fit-content;
                        margin-top: 12px;
                    }

                    #set-new-password {
                        width: 25px;
                    }
                }
            }

            &.profile-form {
                .avatar-wrapper {
                    text-align: center;
                }

                .avatar-input {
                    display: none;
                }
            }
        }
    }
}
