.invitation {
    &-listing-page {
        .action-bar {
            .create-invite {
                min-height: 30px;
                margin: auto 0 auto auto;
            }
        }

        .table-wrapper {
            table {
                &.invite-list {
                    width: 100%;

                    td {
                        text-align: center;
                        padding: 0 10px;

                        &.date {
                            min-width: 175px;
                        }

                        button {
                            &.status,
                            &.profile-link {
                                margin: 0 auto;
                            }
                        }
                    }

                    .resend-invite {
                        height: 40px;
                    }
                }
            }
        }
    }

    &-create-page {
        .title {
            margin: 0
        }
    }
}
