.login-page,
.registration-page,
.forgot-password-page {
    .page-wrapper {
        max-width: 400px;
        margin-top: 50px;

        .text {
            margin: 0;
            text-align: center;
        }

        input {
            text-align: center;
        }
    }
}
