a {
    text-decoration: none;
}

body {
    font-family: Arial, serif;
    background: fade(@c-light-blue, 10%);
    margin: 0;

    header {
        display: flex;

        nav {
            position: relative;
            width: 100%;

            a {
                display: block;
                background-color: @c-darker-blue;
                color: @c-white;
                padding: 5px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 20px;

                &:hover {
                    background-color: @c-light-blue;
                }

                &.logout-btn {
                    background-color: @c-indian-red;
                }
            }

            .nav-control {
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
            }

            .nav-content {
                display: none;

                &.shown {
                    display: block;
                    transition: width 600ms ease-out, height 600ms ease-out;
                }
            }
        }
    }
}
